<div class="mycart-conatiner">
  <div
    class="empty-cart text-center mt-5"
    *ngIf="dataService.myCart.length === 0"
  >
    <h5 class="animated-text text-danger">Opps...! Your Cart is empty.</h5>
    <img
      src="assets/Images/empty-cart.gif"
      class="mb-1"
      alt="updateMycart"
      height="40%"
    />
  </div>
  <div
    class="mycart-products mt-5 ms-3 me-3 w-100"
    *ngIf="dataService.myCart.length > 0"
  >
    <div
      class="homepage-card w-50 bg-light p-3 mb-5"
      *ngFor="let item of dataService.myCart"
    >
      <div class="text-center">
        <img
          class="homepage-card-image card-img-top"
          [src]=""
          height="200px"
          alt="Card image cap"
        />
      </div>
      <div class="home-page-card-name">
        <p class="card-text text-center fw-bold">
          {{ item.product.heading }}
        </p>
        <p class="card-text text-center fw-bold">
          &#8377;{{ item.product.price }}
        </p>
        <p class="card-text text-center fw-bold">
          Quantity: {{ item.quantity }}
        </p>
      </div>
    </div>
    <div class="cart-price w-50"></div>
  </div>
</div>
