/* styles.css */
.animated-text-container {
    text-align: center;
    margin-top: 50px;
}

.animated-text {
    color: #333;
    animation: fadeInOut 3s infinite;
}

@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}