.product-info {
  width: 100%;

  .product-images {
    width: 40%;
  }

  .product-details {
    width: 60%;
  }

  .product-buy-buttons {
  }
}

.button-small {
  min-height: 40px;
  min-width: 40px;
}
