<div class="conatiner">
  <div class="marquee-conatiner"></div>
  <div class="marquee-container">
    <div class="marquee">
      <!-- Your scrolling content here -->
      10% Discount on Mobiles.... 10% Discount on Bags.... 50% Discount on
      Laptop.... 10% Discount on Mobiles.... 10% Discount on Bags.... 50% Discount
      on Laptop - Order Now
    </div>
  </div>
  <div class="website-section mt-5 ms-3 me-3">
    <div class="homepage-card" *ngFor="let item of homePageData">
      <div class="text-center">
        <img
          class="homepage-card-image card-img-top"
          [src]="item.image_url"
          height="200px"
          alt="Card image cap"
          (click)="openFullProduct(item)"
        />
      </div>
      <div class="home-page-card-name">
        <p class="card-text text-center fw-bold">{{ item.title }}</p>
      </div>
    </div>
  </div>
</div>
